# Ignore extensionless files, see
# https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign
*
!/**/
!*.*
build
*.class
notes.md
sheets
oj
*.DS_Store
*.o
*.hi
